@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1596614772771'); /* IE9 */
  src: url('iconfont.eot?t=1596614772771#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKEAAsAAAAABiQAAAI5AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAooRwE2AiQDCAsGAAQgBYRtBzUbcgUR1Yslsq8xNoZWD4C0I7XQu7Zsk8fvgRAw4TA/YKRwChIAAAAAIB7+2492359Z1aSa9mxXR5NqgqiSIDWaeEiEZFEs5A8bcAKBJZzDenuRMderhaGa0l2dmlVDIciA9MKKt3Sf99hp+hw53mN4AIElwKd3APg819RLoAPJD3Suy6aopKQA2hsPaKAdODqyDWToG8YueIHPCdTqMSWWmq2DqmX2ukBc8edPqi7EZJkVq4XKhqNZPDcVqounSXgWfT/+mo5qChWJ3bZ3bvmMuR/hlKU7/x0JCBMnoNMVSJhCJg425nYkwbikNpcNcKzm4MehLAOvOKpLsL/ObqwHXTAR/PDWClDAY1FG6yepQFReP509s+98O+vOn373yxwoT36kQfKr4CWna8ebuloGX07XKFJ+NCxA9Xr+4P01A4eyobM9RdY0jZOFyv121KpFCYdafZ9q7zhZKVTrmBCo0p0hqTZEZnYKFerMoFK1WdSatHq6Tpurksg1mPAQIDR7gUKjT0iafSYz+w0VOv1HpeZIqHU4uLLOSJDeFuwUR+i/4AfeyfWpjZsv6J5rJ3ldxD9Qok9CmRXlYos7yhI74stVqgQkvEEDXsN1ZQjCMw6aTaqhznNqUikbeDNWwU5xhP4LfuCdgulqK5+/oHuunXQM1JUPlOjnhzIrBpCteR808CjvxJerVAlIeIMGLMJ1ZQjNi2YcNJsmZEKdO+NoqDnb3rr93RmMsWxHEs7exEkRfqfi3aTGAAA=') format('woff2'),
  url('iconfont.woff?t=1596614772771') format('woff'),
  url('iconfont.ttf?t=1596614772771') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1596614772771#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e601";
}

