$selectColor: #006eff;
.modalContainer {
  .mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9990;
    display: none;
    background-color: rgba(#000, 0.3);
    &.active {
      display: block;
    }
    &.tableMenuMask {
      background-color: transparent;
    }
  }
  .modal {
    position: fixed;
    z-index: 9991;
    display: none;
    padding: 8px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.31);
    &.active {
      display: block;
    }
    .menuItem {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 220px;
      height: 32px;
      padding: 0 16px;
      color: #333333;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: $selectColor;
      }
      @mixin splitLine {
        position: absolute;
        left: 50%;
        width: calc(100% - #{16 * 2}px);
        height: 1px;
        content: '';
        background-color: #d8d8d8;
        transform: translate(-50%);
      }
      &.splitLineTop {
        margin-top: 1px;
        &::before {
          @include splitLine;
          top: -1px;
        }
      }
      &.splitLineBottom {
        margin-bottom: 1px;
        &::after {
          @include splitLine;
          bottom: -1px;
        }
      }
      .title {
        margin-right: 20px;
        font-size: 14px;
        letter-spacing: 1px;
        .checkBox {
          @include wh(18);
          display: inline-block;

          margin-right: 3px;
        }
      }
      .subTitle {
        font-size: 12px;
        color: #aaa;
      }
    }
  }
}
